main {
	width: 100%;
	height: 100%;
}

.wrapper {
	margin: 1.5rem 3.2rem 3.2rem;

	display: flex;
	flex-direction: column;
	gap: 6.4rem;
}

.products {
	display: grid;
	gap: 3rem;
}

.card {
	position: relative;
}

.card img {
	width: 100%;
	object-fit: cover;

	border-radius: 2rem;

	transition: all 0.7s ease-in;
	animation: to-top 0.7s forwards;
}

.card h2 {
	top: 1.6rem;
	right: 1.6rem;
	position: absolute;

	height: 3.8rem;
	padding: 0 2.4rem;

	display: inline-flex;
	align-items: center;

	border-radius: 2rem;
	background-color: var(--soft);

	opacity: 0;
	transition: all 0.7s ease-in;
	animation: to-down 0.7s 0.7s forwards;
}

@keyframes to-top {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes to-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (min-width: 430px) {
	.products {
		grid-template-rows: repeat(4, calc(100% / 4));
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"A B"
			"A C"
			"D E"
			"D F";
	}

	.products .card img {
		height: 100%;
		max-height: 100%;
	}

	.products .card:nth-child(1) {
		grid-area: A;
	}
	.products .card:nth-child(2) {
		grid-area: B;
	}
	.products .card:nth-child(4) {
		grid-area: C;
	}

	.products .card:nth-child(5) {
		grid-area: D;
	}
	.products .card:nth-child(3) {
		grid-area: E;
	}
	.products .card:nth-child(6) {
		grid-area: F;
	}
}

@media screen and (min-width: 770px) {
	main {
		padding: 3.2rem 4rem;
	}

	.wrapper p {
		display: none;
	}

	.products {
		position: relative;
		max-height: 60rem;

		gap: 2rem;
		grid-template-rows: 33% 33% 33%;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			"A C E"
			"B C F"
			"B D F";
	}

	.products .card:nth-child(1) {
		grid-area: A;
	}
	.products .card:nth-child(2) {
		grid-area: B;
	}
	.products .card:nth-child(3) {
		grid-area: C;
	}

	.products .card:nth-child(4) {
		grid-area: D;
	}
	.products .card:nth-child(5) {
		grid-area: E;
	}
	.products .card:nth-child(6) {
		grid-area: F;
	}
}
